@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --defFont: "DM Sans", sans-serif;

    --backgroundColor: #0f0f0f;
    --areaBackColor: #171717;
    --lightColor: #1d1d1d;
    --accentColor: #DA0037;
    --textColor: #ffffff;

    --text-md: 2rem;
    --text-base: 1.25rem;
    --text-lg: 3rem;
    --text-xl: 4rem;

    --space-sm: 0.75rem;
    --space-md: 2rem;
    --space-lg: 5rem;

    --spaceFromSide: 5rem;

    --sectionWidth: calc(100dvw - 2*var(--spaceFromSide));
}

body {
    font-family: var(--defFont);
    background-color: var(--backgroundColor);
    color: var(--textColor);

    margin: 0;
}

.header {
    background-color: var(--areaBackColor);
    width: 100%;
    padding: var(--space-sm) 0px;
}

ul {
    list-style: none;
}

.header__nav-links {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header__nav-link {
    font-size: var(--text-base);
    color: var(--textColor);
    margin: 0 var(--space-lg);
    width: 7ch;
}

.header__nav-link:hover {
    font-size: calc(var(--text-base) + 0.1rem);
}

a {
  text-decoration: none;
}

.footer__social-icon {
    width: 20px;
}

.hero {
    margin: 0 var(--spaceFromSide);
    width: var(--sectionWidth);
    position: relative;
    height: calc(100dvh - 2*var(--space-sm) - var(--text-base));
}

.carousel {
    position: absolute;
    inset: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.hero__carousel {
    height: 100%;
    width: calc(var(--sectionWidth)/3);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow: hidden;
}

.hero__carousel::-webkit-scrollbar {
    display: none;
}

.hero__carousel-group1 {
    width: 100%;
    animation: spin1 30s infinite linear;
}

.hero__carousel-group2 {
    width: 100%;
    animation: spin2 30s infinite linear;
}

.hero__carousel-card {
    flex: 0 0 0;
    width: 100%;
}

.hero__carousel-card-img {
    opacity: 0.2;
    display: block;
    width: 100%;
}

@keyframes spin1 {
    from {
        translate: 0;
    }
    to {
        translate: 0 -100%;
    }
}

@keyframes spin2 {
    from {
        translate: 0 -100%;
    }
    to {
        translate: 0;
    }
}

.hero__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__text-main {
    font-size: var(--text-xl);
    text-shadow: 2px 2px 4px black;
    text-align: left;
}

.hero__end-block {
    width: 100%;
    background-color: var(--areaBackColor);
    height: calc(2*var(--space-sm) + var(--text-base));
}

.about {
    margin: 0 var(--spaceFromSide);
    margin-top: var(--space-lg);
    width: var(--sectionWidth); 
}

.about-area {
    display: flex;
    background-color: var(--areaBackColor);
    padding: var(--space-md);
    gap: var(--space-md);
}

#profile-img {
    display: block;
    margin: 0;
    height: 50dvh;
}

.about__text {
    display: flex;
    flex-direction: column;
}

.section-header {
    font-size: var(--text-lg);
}

.about__text-bio {
    font-size: var(--text-base);
}

.about__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: var(--textColor);
    font-size: var(--text-base);
    background-color: var(--accentColor);
    width: fit-content;
    border: 2px solid var(--accentColor);
    border-radius: 10px;
}

.btn:hover {
    transform: scale(1.03);
}

#about__btn {
    margin-left: auto;
}

.projects {
    margin: 0 var(--spaceFromSide);
    margin-top: var(--space-lg);
    width: var(--sectionWidth); 
}

.project__area {
    background-color: var(--areaBackColor);
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__display {
    margin: var(--space-md);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-lg);
}

.projects__card-img {
    width: 100%;
}

.projects__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightColor);
    border-radius: 10px;
}

.projects__card-header {
    font-size: var(--text-md);
    margin: var(--space-sm) 0;
}

.projects__card-disc {
    font-size: var(--text-base);
    margin: var(--space-sm) 0;
}

.footer {
    margin-top: var(--space-lg);
    background-color: var(--areaBackColor);
    width: 100%;
    padding: var(--space-sm) 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

 .footer__header {
    font-size: var(--text-md);
 }

 .footer__social-links {
    display: flex;
    justify-content: center;
 }

 .footer__social-link {
    font-size: var(--text-base);
    color: var(--accentColor);
    margin: 0 var(--space-md);
    width: 7ch;
 }

 .footer__social-link:hover {
    text-decoration: underline;
 }

.hero_text-2 {
    display: flex;
    gap: 1ch;
}

#hero__text--changing {
    color: var(--accentColor);
}
 #hero__text--changing::before {
    content: "Entreprenuer";
    animation: changeWords 20s infinite linear;
 }

  #hero__text--changing::after {
    content: "";
    animation: cursor 1.5s linear infinite;
  }

 @keyframes changeWords {
    0%, 25% {
        content: "Entreprenuer";
    }

    26%, 50% {
        content: "Web developer";
    }

    51%, 75% {
        content: "Engineer";
    }
    76%, 100% {
        content: "Content creator";
    }
 }

 @keyframes cursor{
    to{
        border-left: 3px solid var(--accentColor);
    }
}